.custom-nav, .custom-nav .navbar-nav .nav-link, .custom-nav .navbar-brand {
    background-color: #b8c0ff;
    color: white;
}

.contact-text {
    font-weight: bold;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.bold-blue {
    font-weight: bold;
    color: #b8c0ff;
}

h1{
    font-family: 'Secular One', sans-serif;
}

p{
    font-family: 'Jaldi', sans-serif;
}

.navbar-brand {
    font-size: x-large;
    font-weight: bold;
}


#about-me {
    font-family: 'Arial', sans-serif;
    position: relative;
    height: 600px;
    color: #333;
    line-height: 1.6;
    margin: 20px 0;
    padding: 100px;
    display: flex;  
    flex-direction: column;  
    justify-content: center;  
}

.about-me-content {
    max-width: 800px;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#about-me h1, #about-me p {
    z-index: 2;
    position: relative;
}

#projects {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 20px 0;
    padding: 100px;
}

a {
    text-decoration: none;
}

.card {
    height: 100%; 
}

.custom-card {
    padding: 20px;
    position: relative;
    overflow: hidden;
}


.card-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff;
    transform: translateY(100%); 
    transition: transform 0.3s ease; 
    padding: 20px;
}


.custom-card:hover .card-hover {
    transform: translateY(0);
}

.card-title{
    font-family: 'Jaldi', sans-serif;
    font-weight: bold;
}

.card-body {
    position: relative;
    min-height: 120px;
    height: 120px;
    overflow: auto; 
}

.card-text {
    position: absolute;
    bottom: 0;
}

.card-img-top {
    width: 100%; 
    height: 200px; 
    object-fit: cover;
}

#extra-projects {
    display: none;
}

.see-more-button {
    background-color: #b8c0ff; 
    color: #ffffff; 
    border: none; 
}

.see-more-button:hover {
    background-color: #c8b6ff; 
}

footer {
    padding: 20px 0;
}

footer a {
    color: #333;
    transition: all 0.3s ease;
        text-align: right;
    display: block;
    width: 100%;
}

footer a:hover {
    color: #007bff;
}