.custom-nav, .custom-nav .navbar-nav .nav-link, .custom-nav .navbar-brand {
    background-color: #b8c0ff;
    color: white;
}

.navbar-brand {
    font-size: x-large;
    font-weight: bold;
}

#about-me {
    font-family: 'Arial', sans-serif;
    position: relative;
    height: 600px;
    color: #333;
    line-height: 1.6;
    margin: 20px 0;
    padding: 100px;
}

.about-me-content {
    max-width: 800px;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#about-me h1, #about-me p {
    z-index: 2;
    position: relative;
}

#projects {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 20px 0;
    padding: 100px;
}

.card {
    height: 100%; 
}

a {
    text-decoration: none;
}

.card-body {
    min-height: 200px;
    height: 200px;
    overflow: auto; 
}

.card-img-top {
    width: 100%; 
    height: 200px; 
    object-fit: cover;
}

.card-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(125, 124, 124, 0.7);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.card:hover .card-hover {
    display: block;
}